<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

	<springProperty scope="context" name="tempAppName"
		source="dubbo.application.name" defaultValue="catalina" />
		
	<springProperty scope="context" name="appName"
		source="spring.dubbo.application.name" defaultValue="${tempAppName}" />

	<!-- 控制台输出 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
			<pattern>%X{userId} %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50}:%line - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<!-- 按照每天生成日志文件 -->
	<appender name="FILE"
		class="com.huaxia.cai.common.logger.slf4j.HuaXiaRollingFileAppender">
		<appName>${appName}</appName>
		<file>${LOG_PATH}/${appName}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${LOG_PATH}/${appName}-%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 100MB -->
				<maxFileSize>200MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
			<pattern>%X{userId} %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50}:%line - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>



	<!-- 日志输出级别 -->
	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>

	<!-- <springProfile name="!prod"> <logger name="com.huaxia" level="DEBUG" 
		additivity="false"> <appender-ref ref="FILE" /> <appender-ref ref="STDOUT" 
		/> </logger> </springProfile> -->

	<!-- <springProfile name="!prod">
		<logger name="com.huaxia" level="DEBUG" />
	</springProfile> -->
	
	<logger name="com.xxl.job.core" level="WARN" additivity="false">
		<appender-ref ref="FILE" />
	</logger>


</configuration>